# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Publish data

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "4 * * * *"

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Build and publish
      run: |
        python -m pip install -r requirements.txt
        python sofas.py
        ls -al
    - name: Upload datasets
      uses: jaimevalero/push-kaggle-dataset@v1
      env:
        # Do not leak your credentials.
        KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
        KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}
      with:
        id: "jaimevalero/my-new-dataset"
        title: "Sofaology clearance stock"
        subtitle: "Sofas on sale in the UK"
        description: "These are all the sofas currently on sale at Sofaology in the UK"
        files: clearance.csv
        is_public: true
